*{
	margin; 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Audiowide', cursive;
	size: 30px;
}
.head {
	position: relative;
	text-align: center;
}

.menubar{
	margin: auto;
	margin-top: 20%;
	position: absolute;
	text-align: center;
    bottom: 600px;
    left: -230px;
    word-spacing: 150px;

}
.menubar ul {
	list-style-type: none;

}
.menubar ul li {
	
	display: inline-block;	
}
.menubar ul li a {
	text-decoration: none;
	color: #ffff;
	display: block;
	width: 100px;
	font-size: 20px;
	border-bottom: 1px solid grey;
	border-top: 1px solid grey;
}
.menubar a:hover {
    font-size: 22px;
}

img {
	width: 100%;

}
.h2 {

	margin-left: 50px;
	margin-right: 1020px;
	border-bottom: 2px solid grey;
}
.discription {
	position: absolute;
	margin-right: 600px;
	margin-left: 30px;
}

.discription p {
	font-family: arial;
}
.pic {
	width: 45%;
	margin-left: 675px;
	margin-right: 90px;
	margin-bottom: 10px;
}











.copy {
	border-top: 1px solid grey;
	margin top: 5px;
	padding: 0px;

}

.copy p {
	font-family: arial;
	text-align: center;
	color: grey;
}